@font-face {
  font-family: 'Futura';
  src: url('../fonts/Futura Book font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
background-image: url("img/site sculptures bg@300x-20.jpg");
background-color: #FF7BAC;
background-repeat: no-repeat;
background-size: 100vw 100vh;
color: white;
font-family: "Futura";
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
text-align: center;
image-rendering: pixelated;
}


.button {
background: rgba(0,0,0,0);
border-radius: 25px;
font-size: 10px;
max-height:40vh;

}

.back {
background: black;
border: 1px solid white;
color: white;
padding: 10px;
border-radius: 4px;
font-size: 20px;
position: absolute;
top: 10px;
left: 10px;
z-index:3;
display: flex;
justify-content: center;
align-items: center;
}

.middle {
width: 80%;
height: 53%;
display: flex;
align-items: center;
flex-direction:row;
justify-content: space-between;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
overflow: scroll;
}

.fixin {
  display: none;
}

@media screen and (max-width: 800px) {
body {
  background-image: none;
}

.fixin {
  display: inherit;
}

.button {
  max-width:80vw;
}

.middle {
  flex-direction:column;
  top: 0%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, 0%);
  overflow: none;
}

.back {
  height: 50px;
  border: none;
  position: fixed;
  width: 100%;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}
}

a {
color: black;
text-decoration: none;
}
