@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura Book font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("img/cloth-design-6.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  color: white;
  font-family: "Futura";
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: justify;
  image-rendering: pixelated;
}

.cadre {
  background: rgba(1,1,1,0.8);
  width: 50vw;
  border: 1px solid black;
  border-radius: 10%;
  font-family: "Futura";
  font-size: 25px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5%;
  z-index: -1;
}

.back {
  background: black;
  border: 1px solid white;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  body {
    background-image: url("img/cloth-design-6 copy.jpg");
  }
  .cadre {
    font-size: 20px;
    width: 75vw;
    padding: 5%;
  }
  .back {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    top: 0px;
    left: 0px;
    bottom: 85vh;
  }
    /* Style the navigation menu */
 .topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: none;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: none;
  color: white;
} 
}

a {
  color: white;
  text-decoration: none;
}
