@font-face {
    font-family: 'Futura';
    src: url('fonts/futura medium bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('fonts/Futura Heavy font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("img/site bg final@300x-50.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: #FF7BAC;
  color: white;
  font-family: "Futura";
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  image-rendering: pixelated;
  line-height: 1;
}

.button {
  border-radius: 35px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: black;
  padding: 0px;
  opacity: 1;
  border: 3px solid black;
  font-family: "Futura";
  font-size: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.s {
  position: absolute;
  top: 37%;
  right: 53.7%;
  width: 21.5%;
  height: 21.6%;
}

.f {
  position: absolute;
  top: 37%;
  right: 32.6%;
  width: 13.6%;
  height: 21.6%;
}

.w {
  position: absolute;
  top: 37%;
  right: 10%;
  width: 13.6%;
  height: 21.6%;
}

.st {
  position: absolute;
  top: 37%;
  right: 4.6%;
  width: 13.6%;
  height: 21.6%;
}

.cv {
  position: absolute;
  top: 37%;
  right: 4.6%;
  width: 13.6%;
  height: 21.6%;
}

.desc {
  color: black;
  font-family: "Futura Bold";
  font-size: 1.1vw;
  position: absolute;
  top: 36.5%;
  right: 76.7%;
  width: 16.4%;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify:distribute-all-lines;
  z-index: -1;
}

.fixin {
  display: none
}

.doublefixin {
  display: inherit;
}

@media only screen and (max-width: 600px) {
   /* Style the navigation menu */

body {
  background-image: url("sculptures/img/site bg phone sculptures@300x-8.png");
}

.fixin {
  display: initial;
}

.doublefixin {
  display: none;
}

.desc {
  font-size: 4.5vw;
  width: 75.5%;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  border-radius: 17px;
  font-size: 4vh;
  border: none;
  color: white;
  background-color: black;
}

.s {
  top: 38.9%;
  right: 52%;
  width: 35.8%;
  height: 15%;

}

.f {
  top: 38.9%;
  right: 11.8%;
  width: 35.8%;
  height: 15%;
}

.st {
  position:absolute;
  top: 63.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35.8%;
  height: 15%;
}

  }


.logo {
  background-image: url("img/jambon beurre.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  /* filter:
        drop-shadow( 0.5px  0px 0px grey)
        drop-shadow(-0.5px  0px 0px grey)
        drop-shadow( 0px  0.5px 0px grey)
        drop-shadow( 0px -0.5px 0px grey) */
}

.menu {
  width: 85%;
  height: 20%;
  position: absolute;
  top: 45vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
}

.back {
  background: white;
  border: 1px solid black;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}
