@font-face {
    font-family: 'Futura';
    src: url('fonts/Futura Book font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background-image: url("img/site bg.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: black;
  color: white;
  text-shadow: -1px -1px 0 black, 0 -1px 0 black, 1px -1px 0 black, 1px 0 0 black, 1px 1px 0 black, 0 1px 0 black, -1px 1px 0 black, -1px 0 0 black;
  font-family: "Futura";
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  image-rendering: pixelated;
}

.phone {
  display: none;
}

@media only screen and (max-width: 600px) {
   /* Style the navigation menu */
body {
  background-image: url("img/site bg phone.png");
}

 .topnav {
  overflow: hidden;
  background-color: black;
  border-bottom: 1px solid white;
  position: relative;
}

.phone {
  display: initial;
}

.otherphone {
  display: none;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: none;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: none;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: none;
  color: white;
} 
}

.button {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  color: white;
  opacity: 1;
  border: 1px solid white;
  border-radius: 10%;
  font-family: "Futura";
  font-size: 20px;
  width: 200px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  max-height: 80%;
}

.desc {
  color: white;
  font-family: "Futura";
  font-size: 20px;
  position: absolute;
  top: 36%;
  right: 20%;
  text-align: justify;
  overflow-wrap: break-word;
  width: 60vw;
  height: 60vh;
  z-index: -1;
}

.s {
  background-image: url('sculptures/img/sculptures.png');
}

.f {
  background-image: url('img/clothing.png');
}

.w {
  background-image: url('img/writing.png');
}

.st {
  background-image: url('img/statement.png');
}

.logo {
  background-image: url("img/jambon beurre.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  /* filter:
        drop-shadow( 0.5px  0px 0px grey)
        drop-shadow(-0.5px  0px 0px grey)
        drop-shadow( 0px  0.5px 0px grey)
        drop-shadow( 0px -0.5px 0px grey) */
}

.menu {
  width: 85%;
  height: 20%;
  position: absolute;
  top: 45vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 100px;
  padding-right: 100px;
}

.back {
  background: white;
  border: 1px solid black;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
}
