@font-face {
    font-family: 'Futura';
    src: url('fonts/futura medium bt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Futura Bold';
  src: url('fonts/Futura Heavy font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#copyright {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 10px;
}

body {
  background-image: url("img/site bg.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  background-color: #FF7BAC;
  color: black;
  font-family: "Futura";
  font-size: 1.5vw;
  image-rendering: pixelated;
  line-height: 1;
}

#box {
  position: absolute;
  top: 50%;
  left: 49.76%;
  width: 55vw;
  height: 53vh;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
}

#menu {
  width: 45.5vw;
  height: 44vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.button {
  width: 21.5vw;
  height: 18.9vh;
  border-radius: 35px;
  padding: 0px;
  border: 3px solid black;
  font-size: 3.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button:hover {
  background: black;
  color: #FB7BAC;
}

#links {
  font-size: 2.5vw;
}

#fixin {
  display: none
}

#doublefixin {
  display: inherit;
}

@media only screen and (max-width: 600px) {
   /* Style the navigation menu */

body {
  background-image: url("sculptures/img/site bg phone sculptures@300x-8.png");
}

.fixin {
  display: initial;
}

.doublefixin {
  display: none;
}

#box {
  align-items: center;
  flex-direction:column;
  justify-content: space-around;
  width: 100vw;
  height: 75vh;
  top: 53%;
}

#menu {
  width: 100vw;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content:space-evenly;
}

nobr {
  display: none;
}

.button {
  width: 70vw;
  height: 15vh;
  font-size: 4vh;
  color: white;
  background-color: black;
  position: relative;
  top: 0;
  right: 0;
}

.p {
  background: none;
  box-sizing: border-box;
  color: black;
}

#copyright {
  display: none;
  position: relative;
  top: 0;
  right: 0;
  color: black;
}

#links {
  font-size: 10vw;
}

  }

.back {
  background: white;
  border: 1px solid black;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index:3;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: black;
  text-decoration: none;
}

.fa-instagram, .fa-envelope-square {
line-height: 80%;
padding: 0px;
}

.fa-instagram:hover, .fa-envelope-square:hover {
color: #FB7BAC;
background: black;
border-radius: 10px;
}